* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

:root {
	--red: hsl(0, 100%, 68%);
	--very-dark-blue: hsl(230, 29%, 20%);
	--dark-grayish-blue: hsl(230, 11%, 40%);
	--grayish-blue: hsl(231, 7%, 65%);
	--light-grayish-blue: hsl(207, 33%, 95%);
}

html {
	font-size: 62.5%;
}

body {
	position: relative;
	font-family: "Barlow", sans-serif;
}

.hero-bg {
	position: absolute;
	top: -100px;
	right: 0;
	width: 60%;
	height: 80vh;
	background: var(--light-grayish-blue);
	z-index: -20;
	border-bottom-left-radius: 50px;
}

.header {
	position: relative;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin: 4em;
}

.burger-icon {
	width: 35px;
}

.exit-icon {
	width: 30px;
}
.nav {
	position: absolute;
	width: 80%;
	top: 80px;
	left: 50%;
	transform: translateX(-50%);
	height: fit-content;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: #fff;
	box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.nav-desktop {
	display: none;
	flex-direction: row;
	justify-content: end;
	align-items: center;
	/* width: fit-content; */
}

.nav-items {
	margin: 1em;
	font-size: 1.8rem;
	text-transform: uppercase;
	font-weight: 700;
	text-decoration: none;
	color: var(--very-dark-blue);
	cursor: pointer;
	transition: 0.3s;
}

.nav-items:hover {
	text-decoration: underline;
}

.nav-items:last-child {
	color: var(--grayish-blue);
}

.line {
	width: 80%;
	height: 1px;
	background-color: var(--grayish-blue);
}

.main {
	display: flex;
	flex-direction: column;
}
.illustration {
	width: 100%;
	height: 40vh;
	margin: 4em 0;
	background-image: url(./images/illustration-devices.svg);
	background-size: cover;
	/* background-position: left; */
	background-repeat: no-repeat;
}

.text-section {
	display: flex;
	flex-direction: column;
	justify-content: left;
	width: 100%;
	height: fit-content;
	margin: 3em 0;
	padding: 0 1em;
	font-size: 1.8rem;
}
.heading {
	color: var(--grayish-blue);
	text-align: left;
	text-transform: uppercase;
	word-spacing: 0.5em;
}

.heading span {
	padding: 0.2em 0.5em;
	color: var(--light-grayish-blue);
	background-color: var(--very-dark-blue);
	border-radius: 15px;
}

h1 {
	padding: 0.8em 0;
	font-size: 2.6rem;
	font-weight: 700;
	text-transform: uppercase;
	color: var(--very-dark-blue);
}

.text {
	color: var(--dark-grayish-blue);
}

.buttons {
	width: 100%;
	display: flex;
	align-items: baseline;
	padding: 1em 0;
	font-size: 1.6rem;
	text-transform: uppercase;
	text-align: center;
}

.btn {
	/* width: 50%; */
	padding: 0.5em 0.8em;
	font-size: 1.6rem;
	height: 40px;
	border: none;
	background-color: var(--red);
	border-radius: 8px;
	text-transform: uppercase;
	color: var(--light-grayish-blue);
}

.btn:hover {
	background-color: hsl(0, 86%, 74%);
}

.buttons p {
	margin-left: 1em;
	word-spacing: 3px;
	color: var(--grayish-blue);
}

.hide {
	display: none;
}

.active {
	position: absolute;
	left: 1000px;
}
@media (min-width: 540px) {
	.hero-bg {
		height: 90vh;
	}

	.illustration {
		height: 50vh;
	}

	.text-section {
		justify-content: center;
		align-items: center;
		font-size: 2.4rem;
	}

	h1 {
		font-size: 3.2rem;
	}

	.buttons {
		justify-content: center;
	}
}
@media (min-width: 768px) {
	.hero-bg {
		height: 100vh;
	}

	.illustration {
		height: 60vh;
	}
}

@media (min-width: 900px) {
	body {
		padding: 3em 0 3em 5em;
	}

	.hero-bg {
		height: 80vh;
	}

	.header {
		/* padding: 3em 5em; */
		align-items: baseline;
	}

	.logo {
		width: 30px;
		height: 100%;
	}
	.burger-icon {
		display: none;
	}

	.exit-icon {
		display: none;
	}
	.nav {
		display: none;
	}

	.nav-desktop {
		display: flex;
		/* position: unset;
		transform: unset;
		width: fit-content;
		flex-direction: row;
		justify-content: end;
		box-shadow: none;
		padding: 0; */
	}

	.nav-items {
		justify-self: end;
		margin: 0;
		padding: 1em;
	}

	.line {
		margin: 0 3em;
		width: 7px;
		height: 7px;
		border-radius: 50%;
	}

	.main {
		flex-direction: row-reverse;
		justify-content: space-between;
	}
	.illustration {
		width: 50%;
		height: 60vh;
		/* background-position-x: 100px; */
	}
	.text-section {
		align-items: start;
		width: 50%;
		margin: 3em 0;
	}

	h1 {
		margin: 0.3em 0;
		font-size: 3rem;
	}

	.text {
		margin-bottom: 1em;
	}

	.buttons {
		justify-content: left;
	}
}

@media (min-width: 1174px) {
	.text-section {
		width: 30%;
	}
}
